/* styles.css */

* {
	font-family: Arial;
	
}

.story-script-regular, h1 {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 3em;
}


body {
	margin: 100px auto; 
	width: 50%;
}
